.all-elements {
    font-family: 'Open Sans', sans-serif;
}

.logo-img {
    margin: 0 29px;

}

.logo-text {
    display: inline-block;
    vertical-align: super;
    font-size: 22px;
    font-weight: 700;
}

.banner, .search-style {
    display: flex;
    height: 70px;
    width: 1900px;
    background-color: #313131;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.search-style {
    width: 68px;
    justify-content: center;
    background-color: #000;
    cursor: pointer;
}

.list-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 20px;
    font-weight: 600;
}

.btn-link-style {
    margin: 0 10px;
    padding: 16px 19px 17px 19px;
    border-radius: 5px;
    background-color: #89CA62;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.btn-link-style:last-child {
    padding: 16px 29px 17px 30px;
    background-color: #14B9D5;

}

.list-link-style, .logo-link-style, .search-link-style, .btn-link-style {
    text-decoration: none;
    color: #fff;
}

.list-link-style:hover {
    color: #14B9D5;

}

.header {
    display: flex;
    flex-direction: column;
    background-image: url("header-background.png");
    background-attachment: local;
    width: 1900px;
    height: 369px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 27px;

}

.main-title {
    margin-bottom: 44px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
}

.posts-decor-text {
    text-align: center;
    color: #18B4CF;
    font-size: 27px;
    text-transform: uppercase;
    padding: 49px 0 0 0;
    font-weight: 700;
}

.wrapper {
    display: flex;
    margin: 52px auto;
    width: 1170px;
    flex-wrap: wrap;
    font-weight: 700;
}

.section-color {
    background-color: #F2F2F2;
}

.imgs-list {
    padding-top: -500px;
    margin: 0 10px 50px 0;

}

.signatures {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
}

.img-position {
    margin-top: -30px;
}

.img-list-second-row-second-img {
    margin-top: -30px;
}

.img-list-second-row {
    margin-top: -110px;

}

.second-banner {
    background-image: url("parallax-bg2.jpeg");
    background-attachment: fixed;
    height: 588px;
    width: 1900px;
    text-align: center;
    margin-top: -50px;

}

.popular-clients-text {
    padding-top: 109px;
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
}

.popular-clients-text::after {
    content: "";
    display: block;
    width: 60px;
    margin: 107px auto;
    border-bottom: solid 3px #18B4CF;

}


.second-banner-position {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0 510px;

}

.top-rated-text, .news-text {
    margin: 40px;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
}

.rated-position {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.news-text {
    margin: 48px 0;

}

.kinds-relax {
    display: grid;
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;

}

.emirate-spa {
    display: grid;
    background-color: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    grid-column: span 2;
    margin-left: -130px;
}

.emirate-title, .nebula-title, .egypt-title, .maldives-title, .tenerife-title, .britain-title, .spain-title {
    text-align: right;
    font-size: 18px;
    padding: 41px 24px 0 0;
    font-weight: 700;
    color: #353A3D;
}

.emirate-text, .egypt-text, .maldives-text, .tenerife-text, .britain-text, .spain-text {
    padding: 15px 24px 40px 0;
    text-align: right;
    font-weight: 600;
    color: #5B6469;
    font-size: 14px;
    line-height: 21px

}

.nebula-hotel {
    margin-left: 35px;

}

.nebula-title, .ireland-title {
    padding: 14px 0 11px 0;
    text-align: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    font-weight: 700;
}

.resort-egypt, .resort-maldives, .resort-tenerife, .hotel-britain, .prism-hotel, .resort-spain {
    background-color: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin-top: 44px;

}

.resort-maldives, .hotel-britain {
    grid-column: span 3;
    margin-left: 60px;

}

.egypt-title, .maldives-title, .tenerife-title {
    padding: 12px 14px 0 10px;
}

.last-row {
    display: flex;
    grid-column: span 4;
}

.resort-spain-img {
    margin: 44px 0 0 35px;
}


.footer {
    display: grid;
    margin-top: 77px;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    background-color: #000;
}

.footer-text, .last-footer-text {
    display: grid;
    padding: 29px 0 30px 367px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.last-footer-text {
    display: inline-block;
    padding: 19px 0 0 490px;
    font-size: 24px;
    font-weight: 700;
}

.last-footer-text:before {
    content: url("./imgs/imgs4sec/Footer.png");

}