.all {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body {
    background-image: url("./imgs/Background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 0 79px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.main-title {
    font-size: 24px;
    font-weight: 700;
}

.banner {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.svg-img {
    color: #fff;
    height: 21px;
    width: 24px;
    padding: 0 13px;
}

.compass-svg {
    padding-right: 25px;
}

.log-item-link, .btn-link {
    text-decoration: none;
    color: #fff;
}

.log-item-link:hover, .log-item-link:hover path {
    color: #01813F;
}

.welcom-title:before {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-right: 27px;
}

.up-in-menu {
    background-color: #fff;
    width: 444px;
    height: 584px;
    margin: 52px auto 0 auto;
}

.up-in-elements {
    display: flex;
}

.up-title {
    padding: 31px 216px 0 43px;
}

.up-title:before {
    content: "";
    position: relative;
    left: -43px;
    padding-right: 18px;
    border: 1px solid #3CB878;
    background-color: #3CB878;
}

.in-title {
    padding-top: 31px;
}

.up-link, .in-link {
    text-decoration: none;
    color: #434343;
    font-size: 20px;
}

.in-link, .terms-link {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}

.in-link:hover {
    text-decoration: underline #3CB878;
}

.terms-link:hover {
    text-decoration: underline #01813F;
    color: #01813F;
}

.btn {
    margin: 32px 0 31px 0;
    padding-left: 60px;
}

.btn-link {
    padding: 17px 22px 17px 12px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 4px;
    background-color: #305DB8;
    border-radius: 3px;
}

.btn-link:hover {
    background-color: #022263;
}

.btn-link-google {
    background-color: #DF4A32;
}

.btn-link-google:hover {
    background-color: #AB1F09;
}

.facebook-icon, .google-icon {
    padding-right: 38px;
}

.facebook-icon:after, .google-icon:after {
    content: "";
    border-right: 1px solid #0A162F;
    opacity: 0.1;
    padding-right: 19px;
}

.google-icon:after {
    padding-right: 8px;
}


.or-title {
    overflow: hidden;
    text-align: center;
    color: #848484;
}

.or-title:before, .or-title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    width: 152px
}

.or-title:before {
    margin-left: -100%;
    margin-right: 5px;

}

.or-title:after {
    margin-right: -100%;
    margin-left: 2px;
}

.input-decor {
    width: 324px;
    height: 46px;
    cursor: pointer;
}

.agree {
    color: #434343;
    cursor: pointer;
    margin-left: 60px;
}

.finish-btn {
    padding: 16px 99px;
    cursor: pointer;
    font-size: 16px;
    width: 324px;
    background-color: #3CB878;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60px;
}

.finish-btn:hover {
    background-color: #01813F;
}

.input-decor {
    margin: 7px 60px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.agree[type= "checkbox"] {
    display: none;
}

.condition-lable {
    padding-left: 60px;
}

.condition-lable:before {
    content: "";
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 8px;
    border: 1px solid #000;
}

.agree[type= "checkbox"]:checked + label::before {
    background-image: url("./imgs/check.png");
    background-repeat: no-repeat;
    border: none;
}

::-webkit-input-placeholder {
    padding-left: 20px;
}

.input-decor:active, .input-decor:hover {
    border: none;
}

:hover {
    transition: 0.75s;
}

.input-decor:focus, .agree:focus, .input-decor:active {
    box-shadow: 2px 4px 6px -1px rgba(78, 78, 78, 0.5),
    -2px 4px 6px -1px rgba(78, 78, 78, 0.5);
    border: none;
}
