body {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.logo-link-style {
    padding: 38px 305px 0 444px;
    text-decoration: none;
    font-size: 32px;

}

.ham-title {
    color: #fff;
}

.ham-title:before {
    content: 'H';
    background-image: url('../Step Project Ham/landing page/Polygon.png');
    background-repeat: no-repeat;
    padding: 18px;
}

.ham-title-second-piece {
    color: #18CFAB;

}

.header {

    height: 1012px;
    background-image: url("../Step Project Ham/Sections background/section-1(header).jpg");

}

.list-menu {
    display: flex;
    justify-content: space-between;
}

.list-link-style {
    text-decoration: none;
    text-transform: uppercase;
    padding: 49px 21px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.list-link-style:hover {
    color: #18CFAB;
    border-bottom: solid 2px #18CFAB;
}

.main-title, .middle-header-title, .last-header-title {
    text-align: center;
    align-items: center;
    font-size: 36px;
    color: #fff;
}

.main-title {
    padding-top: 264px;
}

.style-main-title-piece {
    color: #18CFAB;
}

.middle-header-title {
    padding: 22px 0;
}

.last-header-title {
    color: rgba(255, 255, 255, 0.6);
}

.btn {
    margin: 125px;
    display: flex;
    justify-content: center;

}

.btn-link-style, .purchase-btn-link-style {
    margin: 0 13px;
    padding: 16px 18px 16px 17px;
    border-radius: 5px;
    background-color: #18CFAB;
    color: #ffffff;
    font-size: 15px;
    box-shadow: 0 5px 0 #fff inset;
}

.btn-link-style:last-child {
    padding: 16px 11px 16px 12px;
    background-color: #00CBF6;
}

.list-link-style, .logo-link-style, .search-link-style, .btn-link-style, .purchase-btn-link-style {
    text-decoration: none;
    color: #fff;
}

.box-wrapper {
    display: flex;
    margin-top: 8px;
    text-transform: uppercase;
}

.box-size {
    display: flex;
    justify-content: center;
    width: 482px;
    height: 377px;
    font-size: 20px;
}

.first-box, .third-box {
    background: #1C2A33;
    color: #18CFAB;

}

.box-text {
    padding: 242px 0 0 64px;
}

.second-box, .fourth-box {
    background-color: #18CFAB;
    color: #fff;
}

.first-box:after, .second-box:after, .third-box:after, .fourth-box:after {
    content: url("../Step Project Ham/Pseudo/Shape.svg");
    position: relative;
    top: 85px;
    right: 175px;
}

.second-box:after {
    top: 96px;
    right: 150px;
    content: url("../Step Project Ham/Pseudo/Diamond.svg");
}

.third-box:after {
    content: url("../Step Project Ham/Pseudo/Bulb.svg");
    right: 130px;
}

.fourth-box:after {
    content: url("../Step Project Ham/Pseudo/Screen.svg");
}

.news-section {
    margin-bottom: 227px;
}

.service-title, .news-title, .say-ham-title {
    text-align: center;
    margin-top: 83px;
    font-size: 36px;
    font-weight: 400;
    color: #4E4E4E;

}

.service-title:after, .service-title:before, .section-works-title:after, .section-works-title:before, .news-title:after, .news-title:before, .say-ham-title:before, .say-ham-title:after {
    content: '';
    display: block;
    width: 79px;
    margin: 24px auto 0 auto;
    border-bottom: 4px solid #18CFAB;
}

.service-title:before, .section-works-title:before, .news-title:before, .say-ham-title:before {
    position: relative;
    top: 75px;
    left: 15px;
}

.section-wrapper, .works-section-wrapper {
    display: flex;
    padding-top: 99px;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
}

.section-menu, .works-section-menu {
    position: relative;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 15px 34px 17px 34px;
    color: #717171;


}

.section-menu:active {
    background-color: #18CFAB;
}

.section-menu:active:after {
    content: url("../Step Project Ham/Pseudo/Rectangle.svg");
    position: absolute;
    top: 48px;
    right: 60px;
}


.section-menu:hover, .works-section-menu:hover {
    border: 2px solid #18CFAB;
}

.service-Img-text-wrapper {
    padding: 23px 374px 91px 406px;
    color: #777777;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.service-img {
    display: flex;
    padding-right: 15px;
    justify-content: center;
    float: left;
}

.purchase-section {
    background-image: url("../Step Project Ham/Sections background/Section2.png");
    background-repeat: no-repeat;
    height: 476px;

}

.purchase-title, .purchase-text {
    text-align: center;
    align-items: center;
}

.purchase-title {
    padding: 127px 0 12px 0;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;

}

.purchase-text {
    font-size: 14px;
    color: #D8D8D8;
    font-weight: 400;
    padding-bottom: 83px;

}

.purchase-btn-link-style {
    margin-left: 888px;
    padding: 16px 11px;
    border-radius: 5px;
    background-color: #18CFAB;
    color: #ffffff;
    font-size: 15px;
    box-shadow: 0 5px 0 #fff inset;
}

.works-section {
    background-color: #E9EDEF;
    padding-bottom: 107px;
}

.section-works-title {
    padding-top: 95px;
    color: #4E4E4E;
    font-size: 36px;
    text-align: center;
}

.works-section-menu:hover {
    color: #18CFAB;
}

.images-container {
    display: flex;
    width: 1140px;
    padding: 84px 0 70px 380px;
    flex-wrap: wrap;
}

.section-description {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 286px;
    height: 206px;
    background-color: #f8fcfe;
    position: absolute;
    transition-duration: 0.5s;
    bottom: -20px;
    border-top: 3px solid #18cfab;
}

.img-section:hover .section-description {
    bottom: 0;
    opacity: 1;
}

.work-btns {
    margin: 43px 0 34px;
}

.info-link {
    border: 1px solid #18cfab;
    border-radius: 20px;
    padding: 10px;
    color: #18cfab;
}

.search-link {
    background-color: #18cfab;
    padding: 11px;
    border-radius: 20px;
    color: #fff;
}

.work-name {
    color: #18cfab;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.work-direction {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

.fa-plus {
    margin-right: 16px;
}

.load-more-btn {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    background-color: #18CFAB;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 8px 8px 0;
    height: 68px;
    width: 168px;
}

.load-more-btn:before {
    content: url('../Step Project Ham/Pseudo/Forma.svg');
    padding: 0 15px 0 23px;
}

.works-images-before-click {
    display: none;
}

.news-images {
    min-width: 1200px;
    display: flex;
    margin: 57px 382px 0;
    flex-wrap: wrap;

}

.date-text {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    background-color: #203E38;
    color: #fff;
    padding: 16px;
    left: 201px;
}

.date-padding {
    margin-bottom: 15px;
}

.imgs-list {
    padding-top: 44px;
    position: relative;
    padding-right: 33px;

}

.signatures, .comments {
    margin: 5px 0 5px 14px;

}

.signatures {
    padding: 4px;
}

.comments {
    color: #777;
    font-weight: 300;
    margin-bottom: 404px;
}

.pseudo-padding {
    padding: 0 10px;
}

.hover-style:hover .date-text {
    background-color: #18CFAB;
}

.hover-style:hover .signatures {
    color: #18CFAB;
}

.img-section {
    position: relative;
}

.text-description {
    position: relative;
    text-align: center;
    padding: 168px 381px 37px 379px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.text-description:before {
    position: absolute;
    content: url("../Step Project Ham/Pseudo/CombinedShape.svg");
    top: 99px;
    left: 935px;
}

.designer-name, .designer-work {
    text-align: center;
    font-size: 16px;
    color: #18CFAB;
}

.designer-work {
    padding-top: 20px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
}

.about-us {
    background-image: url('../Step Project Ham/Sections background/section-3.jpg');
    background-repeat: no-repeat;
}

.title-about-us {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-top: 100px;
    color: #ffffff;
    margin-bottom: 73px;
}


.team-member {
    text-align: center;
}

.member-name {
    color: #18cfab;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.member-position {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 37px;
}

.member-photo {
    margin: 0 auto;
    display: block;
    width: 143px;
    height: 142px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 11px rgba(24, 207, 171, 0.27);
}

.member-slider {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    padding-bottom: 104px;
}

.slider-photo {
    width: 59px;
    height: 59px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.27);
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.slider-photo.active {
    top: -25px;
    border-color: #18cfab;
}

.slider-arrow {
    padding-left: 10px;
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.slider-arrow:hover {
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
    cursor: pointer;
}

.slider-arrow.left {
    left: 360px;
}

.slider-arrow.right {
    right: 380px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    font-weight: 300;
    font-size: 14px;
    background-color: #22353F;
}

.ham-footer {
    text-decoration: none;
    color: #18CFAB;
    padding: 0 5px;
}

.hide {
    display: none;
}