.all-elements {
    width: 1290px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
}

.h1-color-second {
    color: aqua;
}

.header {
    display: flex;
    background-color: #35444F;
    color: #fff;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 48px;
}

.banner {
    list-style-type: none;
    padding: 20px 33px 19px 32px;
    font-size: 24px;
    border-left: 1px solid #fff;
}

.banner:last-child{
    border-right: 1px solid #fff;
}

.banner-1 {
    display: flex;
    height: 100%;
}

.banner:hover{
    background-color: #222F3A;

}

.header-link-style {
    text-decoration: none;
    color: #fff;
}


.list {
    display: flex;
    flex-direction: column;
    height: 81px;
    justify-content: center;
    padding-left: 44px;
    color: #485863;
}

.list:hover{
    background-color: #DBDBDB;
    padding-left: 60px;
}

.img-list {
    display: flex;

    justify-content: space-between;

}

.table-list {
    border: 1px solid black;
    font-size: 27px;
    width: 344px;
    height: 399px;
}

.link-style-2 {
    text-decoration: none;
    color: #485863;

}

.head-img {
    display: inline;
    overflow: hidden;
    border: 1px solid black;
    float: right;
    padding: 75px 268px 73px 297px;
    margin-bottom: 30px;
}

.img-head {
    display: block;
    transition: 2s;
}

.img-head:hover {
    transform: scale(1.2);
}

.link-color {
    text-decoration: none;
}

.h1-color-first {
    color: black;
}

.ramda-style {
    font-size: 80px;
    margin-top: 63px;
    margin-bottom: 38px;
}

.header-style {
    font-size: 24px;
}

.list-margin {
    display: block;
    margin: 43px 0;
    padding-left: 23px;
}



.text-decor {
    display: inline-block;
    font-size: 18px;
    color: #2C2C2C;
    width: 885px;
    padding-left: 403px;
    margin: 15px 0;
    line-height: 24px;
}

.finish-text-line {
    display: flex;
    font-size: 28px;
    background-color: #d7d7d7;
    justify-content: space-around;
    align-items: center;
}

.footer {
    font-size: 24px;
    color: #010101;
    margin: 30px 0;
    text-align: right;
    padding-left: 100px;


}

.last-banner {
    text-decoration: none;
    color: black;
}

.last-banner:hover {
    color: cornflowerblue;
    border-bottom: solid 1px cornflowerblue;
    padding-bottom: 10px;
}
