body{
    position: relative;
    overflow: hidden;
    margin: 50% 0 0 0;
    background-color: #000;
}

body::after{
    content: "";
    position: fixed;
    top: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}

.main-title{
    padding: 30px 0;
    text-align: center;
}

.container{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;

}

.text-anim{
    position: relative;
    color: yellow;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    animation: scroll 30s linear 1s infinite;
    transform: translateZ(-2500px);
}

@keyframes scroll {
    from { top: 0; transform: translateZ(0) rotateX(13deg); }
    to { top: -7500px; transform: translateZ(-2500px) rotateX(3deg); }
}